In [1]:
import pandas as pd
import json

In [2]:
with open('InsideAirbnbCities.json') as f:
    data = json.load(f)

In [19]:
df = pd.DataFrame(columns=['city','country','continent'])
i = 0
for continent in data:
    for countryList in data[continent]:
        for country, cityList in countryList.items():
            for city in cityList:
#                 print(continent,country,city)
                df.loc[i] = [city,country,continent]
                i+=1

In [20]:
df.head()

                          city country      continent
0             Montréal, Québec  Canada  North America
1             Toronto, Ontario  Canada  North America
2      Ville de Québec, Québec  Canada  North America
3  Vancouver, British Columbia  Canada  North America
4   Victoria, British Columbia  Canada  North America